@font-face {
  font-family: 'adic';
  src:  url('../fonts/adic.eot?7nfv2');
  src:  url('../fonts/adic.eot?7nfv2#iefix') format('embedded-opentype'),
    url('../fonts/adic.ttf?7nfv2') format('truetype'),
    url('../fonts/adic.woff?7nfv2') format('woff'),
    url('../fonts/adic.svg?7nfv2#adic') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-adic-"], [class*=" icon-adic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'adic' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adic-Promociones:before {
  content: "\e900";
}
.icon-adic-Negocios:before {
  content: "\e901";
}




body {
  background: #fff;
}

#app * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.splash {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*  background-image: url('../images/splash.jpg');
  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splashContent {
  position: absolute;
  z-index: 0  ;
  bottom: 10vh;
  left: 0;
  right: 0;
}
.welcomescreen-text {
  z-index: 3;
}
.bgCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(80, 79, 68, .5)!important;
}

.splash.slide0{
  background-image: url('../images/bg/s00.jpg');
}
.splash.slide1{
  background-image: url('../images/bg/s01.jpg');
}
.splash.slide2{
  background-image: url('../images/bg/s02.jpg');
}
.splash.slide3{
  background-image: url('../images/bg/s03.jpg');
}
.splash.slide4{
  background-image: url('../images/bg/s04.jpg');
}
.splash.main{
  background-image: url('../images/bg/splash.jpg');
}


.fab {
  font-size: 36px;
  font-weight: 700;
  font-weight: 100;
  line-height: 1.3;
  position: relative;
  z-index: 9;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-bottom: solid 4px rgba(0, 0, 0, .2);
  border-radius: 50%;
  background: #ff4081;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.nav-modal {
  position: fixed!important;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*width: 100%!important;*/
  padding: 20px 0;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: .5;
  border-radius: 0;
  /*background-color: rgba(0, 0, 0, .4)!important;*/
  /*box-shadow: 0 -6px 6px rgba(0, 0, 0, .2);*/
  -webkit-clip-path: circle(0% at 87% 87%);
  clip-path: circle(0 at 87% 87%);
}

.nav-modal.slow {
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.nav-modal.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-clip-path: circle(200% at 87% 87%);
  clip-path: circle(200% at 87% 87%);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.blur {
  position: absolute;
  top: -20%;
  right: -20%;
  bottom: -20%;
  left: -20%;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='30');
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.blur:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(255, 255, 255, .5);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.nav-modal ul {
  position: absolute;
  right: 0;
  bottom: 13%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.nav-modal ul li {
  padding: 5px 15px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.nav-modal ul li:hover {
  background: rgba(0, 0, 0, .1);
}

.snap {
  position: relative;
}

.sticky {
  position: fixed!important;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  /*border-top: 0;*/
}


.panelImg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#img_00 {
  background-image: url('../images/news/i00.jpg');
}

#img_01 {
  background-image: url('../images/news/i01.jpg');
}

#img_02 {
  background-image: url('../images/news/i02.jpg');
}

#img_03 {
  background-image: url('../images/news/i03.jpg');
}

#img_04 {
  background-image: url('../images/news/i04.jpg');
}

#img_05 {
  background-image: url('../images/news/i05.jpg');
}

#img_06 {
  background-image: url('../images/news/i06.jpg');
}

#img_07 {
  background-image: url('../images/news/i07.jpg');
}

#type_1 {
  background-image: url('../images/submit/emergency/type_1.jpg');
}

#type_2 {
  background-image: url('../images/submit/emergency/type_2.jpg');
}

#type_3 {
  background-image: url('../images/submit/emergency/type_3.jpg');
}

#type_4 {
  background-image: url('../images/submit/emergency/type_4.jpg');
}


.sidebar-image {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  border: solid 2px rgba(250,250,250,0.7);
  margin: 15px;
}

.sidebar {
  z-index: 7;
  padding-top: 50px;
}

.sidebar-header {
  position: relative;
  z-index: 10;
}
.sidebar-bottom {
  position: absolute!important;
  bottom: 0;
}

.sidebar-nav {

}

.sidebar-nav .sidebar-icon {
  text-align: left;
  font-size: 20px;
}

.sidebar .separator {
  display: block;
  height: 0;
  border: solid 1px rgba(0,0,0,.2);
  margin: 0 auto;
}

#do_drag {
  position: absolute;
  z-index: 100;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 15px;
}

#do_drag.navOpen {
  right: 0;
  left: inherit;
  width: calc(100% - 255px);
}

#do_drag_search_open {
  position: absolute;
  z-index: 100;
  top: 50px;
  bottom: 0;
  right: 0;
  width: 15px;
}

.welcomescreen-container {
  z-index: 15!important;
}
.profileSwitcher {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.profileImg {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(0,0,0,.1);
}

.bordered {
  border: solid 1px rgba(0,0,0,.1);
}


p {
 word-break: break-all;
 text-align: justify;
 line-height: 1.3;
 text-transform: capitalize;
}

/* custom para splash */
.ui-page-theme-a .ui-btn.close-splash{
	position: fixed;
  right: 0;
  z-index: 1;
  background: transparent;
  border: none;
  color:#fff;
}
#splash .owl-controls {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
}
.img-splash {
  width: 100%;
  background-size: cover !important;
  padding-bottom: 100%;
  height: 100vh;
}
.text-splash {
  position: fixed;
  z-index: 1;
  bottom: 15%;
  width: 100%;
  text-align: center;
  color: #fff;
}

/* fin custom para splash */

/*custom login */
#main_login {
  background-image: url(../images/bg/splash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.bgCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(80, 79, 68, .5)!important;
}
.close-modal{
	background-color: transparent !important;
	outline: none !important;
	border: none;
	box-shadow: none!important;

}
/* main left panel */
#search{
  padding-right: 80px;
}
#search+.ui-input-clear{
  right: 35px;
}
button#searchBtn {
  width: 40px;
  margin: 0;
  border-bottom: 4px solid rgba(0, 0, 0, .2);
  height: 43px;
  border-radius: 0 5px 5px 0 !important;
}

.input-search {
  height: 40px;
  margin: 0;
  border-bottom: 4px solid rgba(51, 30, 30, 0.85);
  padding-right: 40px;
  height: 43px;
}
#left-panel a{
	font-weight: 500;
  text-decoration: none;
}
/* main right panel */
#right-panel button{
  box-shadow: none !important;
}
a.searchDay {
  color: #f0f0f6!important;
  text-decoration: none;
}
/* main header */
.menu-app{
  display: -ms-flex !important;
  display: -webkit-flex !important;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
}

.ui-header-fixed,.ui-header-fixed.ui-fixed-hidden{
  top: -2px;
}
/* main content */
#main .ui-content {
  padding: 0;
}
#postContainer button,#PromocionesPorSocio button {
  outline: none !important;
  border: none;
  background: transparent;
}
.ofertaImg {
  width: 100%;
  padding-bottom: 100%;
}
#filterPublicaciones li {
  display: block;
}

/*float searh*/
.fab {
  background: #03a9f4;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 48px;
  right: 48px;
  font-size: 2.6667em;
  display: inline-block;
  cursor: default;
}
.fab span {
  vertical-align: middle;
}
.fab.child {
  right: 58.66666667px;
  width: 42.66666667px;
  height: 42.66666667px;
  display: none;
  opacity: 0;
  font-size: 2em;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ECECEC;
  opacity: 0.9;
  display: none;
}

/*  fab icon */
.fab-container {
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
}
.fab-container:hover .buttons:not(:last-of-type) {
  width: 40px;
  height: 40px;
  margin: 15px auto 0;
  opacity: 1;
}
.fab-container:hover .rotate:before {
  transform: rotate(0deg);
}

.fab-container .buttons {
  display: block;
  width: 35px;
  height: 35px;
  margin: 20px auto 0;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: .2s;
}
.fab-container .buttons:nth-last-of-type(2) {
  transition-delay: 20ms;
}
.fab-container .buttons:nth-last-of-type(3) {
  transition-delay: 40ms;
}
.fab-container .buttons:nth-last-of-type(4) {
  transition-delay: 60ms;
}
.fab-container .buttons:nth-last-of-type(5) {
  transition-delay: 80ms;
}
.fab-container .buttons:nth-last-of-type(6) {
  transition-delay: 100ms;
}
.fab-container .buttons:nth-last-of-type(1) {
  width: 56px;
  height: 56px;
  opacity: 1;
}
.fab-container .buttons:nth-last-of-type(2) {
  background: #D2A518 url("http://goo.gl/XVUbvp") center no-repeat;
}
.fab-container .buttons:nth-last-of-type(3) {
  background: #3C80F6 url("https://goo.gl/xdZJHE") center no-repeat;
}
.fab-container .buttons:nth-last-of-type(4) {
  background-image: url("https://goo.gl/OEKh8Y");
  background-size: contain;
}
.fab-container .buttons:nth-last-of-type(5) {
  background-image: url("https://goo.gl/SrERjY");
  background-size: contain;
}
.fab-container .buttons:nth-last-of-type(6) {
  background-image: url("http://goo.gl/c5kspt");
  background-size: contain;
}
.fab-container .buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.fab-container span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.fab-container span.rotate {
  background: #0099cc;
  position: absolute;
  transition: .3s;
  text-align: center;
  padding: 10%;
  color: #fff;
}

.fab-container [tooltip]:before {
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font: 500 12px Roboto;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
[tooltip="Negocios"] .rotate:before{
  content:"\e901";
}
[tooltip="Promociones"] .rotate:before{
  content:"\e900";
}
.adic-x2:before {
    font-size: 3.7em;
    margin-left: -.35em;
}
.card-negocio {
  padding: 0 0 10px 0;
}
a.negocio-link, a:hover.negocio-link{
  color: #Fff;
  padding: 0;
  line-height: 120%;
  display: block;
}
a.negocio-link div, a:hover.negocio-link div {
  font-size: 1.4em;
  line-height: 18px;
  text-transform: capitalize;
}
.descripcion-negocio{
  color: #Fff;
}
.flex-negocio {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.77);
  padding: 2px 0;
  box-shadow: 0px 1px 7px black;
  border-radius: 2px;
}

.flex-negocio .div-flex-negocio {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-swap {
  padding-bottom: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.categoria {
  width: 100%;
  font-size: .9em;
  color: #FFF;
}
a.product-content-image {
  width: 100%;
}
#filterNegocios li {
  display: block;
}
.ubicacionLink i {
  font-size: 3em;
}


/* ubicaciones */
.ui-header .ui-title, .ui-footer .ui-titleh1.ui-title {
  padding: 15px 0;
}
.ui-btn-icon-notext.ui-btn-left{
  top: .9em;
}

#mapContainer {
  position: relative;

}
#map {
  min-height: 100px;
  height: 80vh;
  position: relative;
}

.negProfImg {
  width: 100%;
  padding-bottom: 80%;
}
/* perfil */

#PromocionesPorSocio {
  margin: 0 -1em;
  padding: .5em 1em;
}
.divisionDiaPerfil {
    padding: 1em;
    color: #fff;
    background-color: rgba(50, 50, 50, .5)!important;
}